.Home {
  text-align: center;
  width: 100%;
}
.home-header{
  display :flex;
  flex-direction :row;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  border-bottom:2px solid black;
  justify-content: space-between;
}
#search-bar {
  max-width: 500px;
}
#search-bar::placeholder {
  font-size: medium;
  padding-left: 10px;
}
#postbtn {
}
.home-container{
  display: flex;
  flex-direction: row;
  /* background-color: red; */
  width: 100%;
  margin-top : 10px;
  background-color: yellowgreen;
}
.Ads{
}
.blog-content{
  flex-direction: column;
  width:500px;
  margin-left: 400px;
}
.Tags{
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  width:500px;
  margin-top: 60px;
}
.all-tags{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex-tag{
  /* background-color: orange; */
  padding:10px;
}
.tag-headline{
  padding-top: 10px;
  padding-bottom: 10px;
}
.tag-container{
  background-color: black;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Taginfo {
  background-color: black;
  border: none;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.count-bar{
  color:white;
  background-color: blue;
  width:10px;
  padding :12px 10px;
  border-top-right-radius: 12px;
  border-bottom-right-radius : 12px;
}

